/*
###############
          GENERAL STYLING
###############
*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "almarai";
  src: url("../assets/almarai/Almarai-Light.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "almarai";
  src: url("../assets/almarai/Almarai-Regular.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "almarai";
  src: url("../assets/almarai/Almarai-Bold.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "almarai";
  src: url("../assets/almarai/Almarai-ExtraBold.ttf");
  font-weight: 400;
}

:root {
  --footer-text: white;
  --section-color: white;
  --transparent-color: rgba(255, 255, 255, 0);
  --form-color: #f4f5f4;
  --shows-color: #d7d8d7;
  --background-color: #030303;
  --heading-color: #030303;
  --logo-color: #c7bcb3;
  --dark-logo-color: #8b8179;
  --menu-items: #030303;
  --search-bar: #423d39;
  --look-at-me: #b70912;
  --look-at-me-dark: #920b12;
  --numbers-up: #e4c324;
  --numbers-up-dark: #b49a19;
  --what-goes-let-go: #164eb8;
  --what-goes-let-go-dark: #0c3480;
  --store-heading: white;
  --store-heading-background: rgb(31, 31, 31);
  --stars-animation: stars infinite;
  --font-fam: "almarai", helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-fam);
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 1.7em 0 1.7em;
}

/* #SmallScreensMatter */
@media (max-width: 23em) {
  main {
    margin: 0;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header h1 {
  opacity: 0;
}

a:focus p {
  border: 3px solid rgb(0, 73, 119);
  box-shadow: 0 0 0 3px var(--section-color);
  border-radius: 4px;
}

a:active p {
  background-color: var(--background-color);
  color: var(--section-color);
}









/*
###############
          HEADER
###############
*/

/* Responsive Header without using media queries -> inspiration from Sanne */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header>a:focus,
header nav li a:focus {
  border: 2px solid var(--background-color);
  outline: 1px dotted var(--footer-text);
}

header>a {
  display: block;
  width: 11em;
  height: 3.5em;
  padding: .75em 0 .75em 2.75em;

  background-image: url("../images/logo-horizontal.svg");
  background-position: .75em center;
  background-size: auto 1.5em;
  background-repeat: no-repeat;
  outline: none;

  color: var(--main-color);
  font-weight: bold;
  line-height: 1em;
  text-decoration: none;
}

header nav {
  flex-grow: 1;
}

header nav ul {
  display: flex;
  gap: 1px;
}

@media (max-width: 23em) {
  header nav ul {
    flex-wrap: wrap;
    width: 100%;
  }
}

header nav li {
  flex-grow: 1;

  min-width: 6em;

  transition: .5s;
}

header nav a {
  display: block;
  outline: none;

  background-color: var(--menu-items);

  color: var(--logo-color);
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  line-height: 3.5em;

  transition: .5s;
}

header nav a:hover:not(.active) {
  background-color: var(--logo-color);

  color: var(--background-color);
  text-decoration: underline;
}

header form {
  display: flex;
  flex-grow: 5;
  justify-content: flex-end;

  padding: .75em;

  background-color: var(--darker-logo-color);
}

header form input {
  flex-grow: 1;

  width: 0;
  min-width: 12em;
  max-width: 38em;

  padding: 0 .5em;
  border: none;
  outline: none;

  line-height: 2em;
}

header form button {
  padding: 0 1em;

  background-color: var(--background-color);
  border: none;

  cursor: pointer;

  color: var(--logo-color);
  font-family: var(--font-fam);
  font-weight: 200;
  line-height: 2em;
}

header form button:active {
  background-color: var(--logo-color);
  color: var(--background-color);
}






/*
###############
          GENERAL SECTION STYLING
###############
*/

.home section:nth-of-type(2),
.home section:nth-of-type(3),
.home section:nth-of-type(4),
.home section:nth-of-type(5),
.home section:nth-of-type(6) {
  position: relative;

  padding: 2em;
  margin-bottom: 7em;
  width: 100%;

  background-color: var(--section-color);
}

@media (max-width: 23em) {

  .home section:nth-of-type(2),
  .home section:nth-of-type(3),
  .home section:nth-of-type(4),
  .home section:nth-of-type(5),
  .home section:nth-of-type(6) {
    padding: 2em .2em 2em .2em;
  }
}

/* Two columns */
@media (min-width: 60em) {

  .home {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 3em;
  }

  .home section:nth-of-type(3),
  .home section:nth-of-type(4),
  .home section:nth-of-type(5),
  .home section:nth-of-type(7) {
    width: 45%;
  }
}

/* White space on both sides when using big screens */
@media (min-width: 80em) {
  body {
    margin: 0 10% 0 10%;
  }
}

@media (min-width: 100em) {
  body {
    margin: 0 20% 0 20%;
  }
}

/* Titles of Sections */
.home section:nth-of-type(2) h1,
.home section:nth-of-type(3) h1,
.home section:nth-of-type(4) h1,
.home section:nth-of-type(5) h1,
.home section:nth-of-type(6) h1,
.home section:nth-of-type(7) h1 {
  position: sticky;
  z-index: 100;

  top: 0;
  padding: .6em 0 .6em 0;
  margin-bottom: 1em;

  border-bottom: 3px solid var(--heading-color);

  background-color: var(--section-color);
  color: var(--heading-color);

  font-size: 1.5em;
}

/* Buttons of Sections */
.home section:nth-of-type(3) p,
.home section:nth-of-type(4)>a p:last-of-type,
.home section:nth-of-type(5) p {
  position: absolute;
  transform: translate(-50%, -50%);

  padding: 1.3em 2.5em 1.3em 2.5em;
  margin-top: 6em;
  left: 50%;

  background-color: var(--section-color);

  font-size: .9em;
  font-weight: 300;
  color: var(--heading-color);

  transition: .4s;
}

@media (max-width: 23em) {

  .home section:nth-of-type(3) p,
  .home section:nth-of-type(4)>a p:last-of-type,
  .home section:nth-of-type(5) p {
    width: 90%;

    font-size: .7em;
    text-align: center;
  }
}

.home section:nth-of-type(3) p:hover,
.home section:nth-of-type(4)>a p:hover,
.home section:nth-of-type(5) p:hover {
  font-size: 1em;
}


/* Cool Javascript scroll animation */
.animate {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.animate.fade {
  opacity: 1;
}












/*
###############
          FOOTER
###############
*/

footer {
  position: relative;

  margin: 0 1em 0 1em;
  padding: 5em 1.2em 2em 1.2em;
}

@media (min-width: 44em) {
  footer {
    margin: 0 2.5em 0 2.5em;
  }
}

@media (min-width: 60em) {
  footer {
    margin: 0 3.5em 0 3.5em;
  }
}

@media (min-width: 70em) {
  footer {
    margin: 0 4.5em 0 4.5em;
  }
}

footer h1 {
  padding-bottom: .6em;
  margin-bottom: 1em;

  border-bottom: 3px solid var(--footer-text);
}

footer h2,
footer p,
footer h1 {
  color: var(--footer-text);
  font-size: 1.5em;
}

footer h2 {
  margin-top: 1em;

  font-weight: 400;
  font-size: .8em;
}

footer p {
  font-weight: 100;
  font-size: .7em;
  line-height: 1.8em;
}

/* wat is een website waard zonder lasers? */
footer button {
  position: absolute;
  height: 3em;
  width: 7em;
  right: 5%;
  top: 50%;

  background-color: rgb(48, 48, 48);
  border: none;
  border-radius: 1em;

  opacity: 20%;

  cursor: pointer;
  transition: 1s;
}

footer button p {
  position: absolute;

  top: 25%;

  font-size: 1em;
}

footer button p:first-of-type {
  left: .8em;

  color: rgb(102, 102, 102);
}

footer button p:last-of-type {
  right: .8em;

  color: white;
}

footer button:hover {
  opacity: 100%;

  animation: clickmeplease 1s ease-in-out infinite alternate;
}

@keyframes clickmeplease {
  0% {
    box-shadow: 0 0 .5em var(--footer-text);

  }

  100% {
    box-shadow: 0 0 1.5em var(--footer-text);
    background-color: rgb(87, 87, 87);
  }
}

:root.epicmode footer button p:first-of-type {
  color: var(--footer-text);
}

:root.epicmode footer button p:last-of-type {
  color: rgb(102, 102, 102);
}


@media (max-width: 23em) {
  footer button {
    width: 2em;
    right: 0;
  }
}












/*
###############
          NEW SINGLES
###############
*/

.home section:first-of-type {
  margin: 0;
}

.home section:first-of-type ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3em;

  margin: 2em 0 0 0;
  transition: 2s;
}

:root.epicmode .home section:first-of-type ul {
  display: block;
  position: relative;

  height: 30em;
}

.home section:first-of-type ul li {
  position: relative;

  width: 100%;
  height: 10em;

  padding: 6em;

  transition: 2s;
}

:root.epicmode .home section:first-of-type ul li {
  position: absolute;

  width: 10em;

  border-radius: 50%;

  animation: epicsingles 12s linear infinite;
}

@keyframes epicsingles {
  0% {
    transform: translate(0, 0);
    opacity: 100%;
  }

  17.5% {
    transform: translate(0, 14em);
  }

  32.5% {
    transform: translate(14em, 14em);
  }

  67.5% {
    transform: translate(14em, 0);
    opacity: 70%;
  }

  82.5% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0) rotate(1turn);
  }
}


:root.epicmode .home section:first-of-type ul li:nth-of-type(2) {
  animation-delay: 4s;
}

:root.epicmode .home section:first-of-type ul li:nth-of-type(3) {
  animation-delay: 8s;
}

.home section:first-of-type ul li button {
  position: abolute;

  height: 2.3em;
  width: 8em;

  margin: 4.6em 0 0 -7em;

  border: 0;
  background-color: var(--transparent-color);
}

.home section:first-of-type ul li button:focus {
  border: 3px solid black;
}

/* Subtle play-animation */
@keyframes play {
  0% {
    background-position: right top;
  }

  50% {
    background-position: left bottom;
  }

  100% {
    background-position: right top;
  }
}

.home section:first-of-type ul li.playsingle {
  background-image: radial-gradient(rgba(128, 128, 128, 0), rgba(0, 0, 0, 0.582));
  background-size: 200% 200%;
  background-position: left bottom;

  animation: play 30s ease-in-out infinite alternate;
}

@media (max-width: 44em) {
  .home section:first-of-type ul li.playsingle {
    height: 25em;
  }
}

.home section:first-of-type ul li img,
.home section:first-of-type ul li h1,
.home section:first-of-type ul li p {
  position: absolute;
}


.home section:first-of-type ul li img {
  width: 4%;
  bottom: 5%;
}


/* Play icon */
.home section:first-of-type ul li img:first-of-type {
  left: 2%;
}

:root.epicmode .home section:first-of-type ul li img:first-of-type {
  left: 30%;
  width: 20%;
}

/* Bell icon */
.home section:first-of-type ul li img:nth-of-type(2) {
  right: 2%;
}

:root.epicmode .home section:first-of-type ul li img:nth-of-type(2) {
  visibility: hidden;
}

.home section:first-of-type ul li h1,
.home section:first-of-type ul li p {
  font-weight: 100;
  font-size: 1.5em;
}

.home section:first-of-type ul li h1,
.home section:first-of-type ul li p:first-of-type {
  left: 2%;
}

@media (max-width: 24em) {

  .home section:first-of-type ul li img:first-of-type,
  .home section:first-of-type ul li img:nth-of-type(2) {
    width: 6%;
  }
}

/* Song title */
.home section:first-of-type ul li h1 {
  top: 14%;

  transition: .7s ease-in-out;
}

:root.epicmode .home section:first-of-type ul li h1 {
  top: 35%;
  left: 10%;

  font-size: 2em;
  font-weight: 300;
}


.goingup {
  margin-top: -2em;
  transition: .5s;
}

/* NEW text */
.home section:first-of-type ul li p:first-of-type {
  top: 2%;

  color: rgb(165, 165, 165);

  transition: 1.5s ease-in;
}

.home section:first-of-type ul li p.hide {
  opacity: 0;

  transition: .5s;
}

:root.epicmode .home section:first-of-type ul li p:first-of-type {
  left: 50%;
}

/* PLAY text */
.home section:first-of-type ul li p:nth-of-type(2) {
  left: 8%;
  bottom: 4%;
}

:root.epicmode .home section:first-of-type ul li p:nth-of-type(2) {
  visibility: hidden;
}

.home section:first-of-type ul li {
  transition: .5s;
  cursor: pointer;
}

/* LOOK AT ME */
.home section:first-of-type ul li:first-of-type {
  background-color: var(--look-at-me);
}

.home section:first-of-type ul li:first-of-type:hover {
  background-color: var(--look-at-me-dark);
}

/* NUMBERS UP */
.home section:first-of-type ul li:nth-of-type(2) {
  background-color: var(--numbers-up);
}

.home section:first-of-type ul li:nth-of-type(2):hover {
  background-color: var(--numbers-up-dark);
}

/* WHAT GOES, LET GO */
.home section:first-of-type ul li:nth-of-type(3) {
  margin-bottom: 4em;
  background-color: var(--what-goes-let-go);
}

.home section:first-of-type ul li:nth-of-type(3):hover {
  background-color: var(--what-goes-let-go-dark);
}


@media (min-width: 44em) {

  .home {
    margin: 0 4em 0 4em;
  }

  .home section:first-of-type {
    width: 100%;
  }

  .home section:first-of-type ul {
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 5em 0 0 0;
  }

  .home section:first-of-type ul li {
    height: 35em;

    padding: 6em;
    flex-grow: 1;

    transition: .5s;
  }

  :root.epicmode .home section:first-of-type ul li {
    height: 15em;
    width: 15em;

    padding: 6em;

    transition: 2s;

  }

  @keyframes epicsingles {
    0% {
      transform: translate(0, 0);
      opacity: 100%;
    }

    17.5% {
      transform: translate(0, 14em);
    }

    32.5% {
      transform: translate(30em, 14em);
    }

    67.5% {
      transform: translate(30em, 0);
      opacity: 70%;
    }

    82.5% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(0, 0) rotate(1turn);
    }
  }

  .home section:first-of-type ul li.playsingle {
    flex-grow: 3;

    width: 3000%;
  }

  /* icons */
  .home section:first-of-type ul li img {
    width: 10%;

    bottom: 6%;
  }

  /* Song title */
  .home section:first-of-type ul li h1 {
    margin-top: -1.2em;

    font-size: 1.8em;
  }

  :root.epicmode .home section:first-of-type ul li h1 {
    margin-top: 0em;

    font-size: 1.5em;
  }

  .home section:first-of-type ul li h2.goingup {
    margin-top: -2.2em;
  }

  /* PLAY text */
  .home section:first-of-type ul li p:nth-of-type(2) {
    left: 20%;
    bottom: 5.5%;

    font-size: 1.8em;
  }
}

@media (min-width: 70em) {
  .playsingle {
    width: 40em;
  }

  .home section:first-of-type {
    max-width: 80%;
  }

  .home section:first-of-type ul {
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;

    margin-top: 5em;
  }

  .home section:first-of-type ul li {
    position: relative;

    padding: 6em;
    margin-left: .5em;

    transition: 1s;
  }

  .home section:first-of-type ul li:first-of-type {
    grid-column-start: 2;
  }

  .home section:first-of-type ul li:nth-of-type(2) {
    grid-column-start: 3;
  }

  .home section:first-of-type ul li:nth-of-type(3) {
    grid-column-start: 4;
  }

  .normalheight {
    height: 60em;
  }

  /* Song title */
  .home section:first-of-type ul li h1 {
    margin-top: -1.2em;

    font-size: 2.2em;
  }

  /* PLAY text */
  .home section:first-of-type ul li p:nth-of-type(2) {
    left: 20%;
    bottom: 5.5%;

    font-size: 2.2em;
  }

  /* Play icon */
  .home section:first-of-type ul li img:first-of-type,
  .home section:first-of-type ul li img:nth-of-type(2) {
    width: 10%;
  }

  @keyframes epicsingles {
    0% {
      transform: translate(0, 0);
      opacity: 100%;
    }

    17.5% {
      transform: translate(0, 14em);
    }

    32.5% {
      transform: translate(40em, 14em);
    }

    67.5% {
      transform: translate(40em, 0);
      opacity: 70%;
    }

    82.5% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(0, 0) rotate(1turn);
    }
  }
}















/*
###############
          PHOTO SLIDER
###############
*/


.home section:nth-of-type(2) {
  display: flex;
  gap: 20px;

  position: relative;
  width: 100%;

  padding: 2em;
  overflow: scroll;

  background-color: var(--section-color);
}

.home section:nth-of-type(2) img {
  position: relative;

  width: 100%;
}

.home section:nth-of-type(2) a p {
  position: absolute;
}

@media (max-width: 23em) {
  .home section:nth-of-type(2) {
    padding: 2em 0 2em 0;
  }
}

@media (min-width: 60em) {
  .home section:nth-of-type(2) {
    width: 80%;

    margin-bottom: 2.5em;
  }
}













/*
###############
          VIDEOS
###############
*/

/* Youtube videos */
.home section:nth-of-type(3) iframe {
  width: 100%;
  height: 16em;

  border: none;
}

@media (max-width: 23em) {
  .home section:nth-of-type(3) iframe {
    height: 10em;
  }
}

@media (min-width: 43em) {
  .home section:nth-of-type(3) iframe {
    height: 30em;

    border: none;
  }
}

@media (min-width: 60em) {
  .home section:nth-of-type(3) iframe {
    height: 15em;
  }

  .home section:nth-of-type(3) {
    height: 70em;

    order: 1;
  }
}














/*
###############
          SHOP
###############
*/


/* Shop items */

.home section:nth-of-type(4) li {
  position: relative;

  width: 100%;
  margin-bottom: 1em;

  overflow: hidden;

  transition: .5s;
}

@media (min-width: 60em) {
  .home section:nth-of-type(4) {
    order: 3;
  }

  .home section:nth-of-type(4) ul {
    height: 44em;
    overflow: scroll;
  }
}

.home section:nth-of-type(4) li img {
  width: 100%;

  border: 2px solid black;
  transition: 1s;
}


.home section:nth-of-type(4) li:hover img {
  opacity: 40%;
}

.home section:nth-of-type(4) a {
  overflow: hidden;

  text-decoration: none;
}


.home section:nth-of-type(4)>ul li:hover a p {
  opacity: 100%;
}


.home section:nth-of-type(4)>ul li a p {
  position: absolute;
  z-index: 1;

  opacity: 0%;

  text-align: center;
  color: black;
}

.home section:nth-of-type(4)>ul li a:focus p {
  background-color: white;
  opacity: 100%;
}

.home section:nth-of-type(4)>ul li:nth-of-type(1) a p {
  left: 35%;
  top: 40%;
}

.home section:nth-of-type(4)>ul li:nth-of-type(1) a p:nth-of-type(2) {
  left: 36%;
  top: 55%;

  padding: .8em 2em .8em 2em;

  background-color: black;

  font-weight: 300;
  color: white;

  transition: .5s;
}

.home section:nth-of-type(4)>ul li:nth-of-type(2) a p {
  left: 35%;
  top: 40%;
}

.home section:nth-of-type(4)>ul li:nth-of-type(2) a p:nth-of-type(2) {
  left: 36%;
  top: 60%;

  padding: .8em 2em .8em 2em;

  background-color: black;

  font-weight: 300;
  color: white;

  transition: .5s;
}

.home section:nth-of-type(4)>ul li:nth-of-type(3) a p:nth-of-type(2) {
  left: 25%;
  top: 40%;
}

.home section:nth-of-type(4)>ul li:nth-of-type(3) a p:nth-of-type(3) {
  left: 36%;
  top: 60%;

  padding: .8em 2em .8em 2em;

  background-color: black;

  font-weight: 300;
  color: white;

  transition: .5s;
}

.home section:nth-of-type(4)>ul li:nth-of-type(4) a p:nth-of-type(2) {
  left: 26%;
  top: 37%;
}

.home section:nth-of-type(4)>ul li:nth-of-type(4) a p:nth-of-type(3) {
  left: 36%;
  top: 50%;

  padding: .8em 2em .8em 2em;

  background-color: black;

  font-weight: 300;
  color: white;

  transition: 1s;
}

.home section:nth-of-type(4)>ul li:nth-of-type(1) a p:nth-of-type(2):hover,
.home section:nth-of-type(4)>ul li:nth-of-type(2) a p:nth-of-type(2):hover,
.home section:nth-of-type(4)>ul li:nth-of-type(3) a p:nth-of-type(3):hover,
.home section:nth-of-type(4)>ul li:nth-of-type(4) a p:nth-of-type(3):hover {
  opacity: 100%;

  border-radius: 2em;
}

/* New & Web only banner */
.home section:nth-of-type(4)>ul li:nth-of-type(3) a p:first-of-type,
.home section:nth-of-type(4)>ul li:nth-of-type(4) a p:first-of-type {
  position: absolute;
  transform: rotate(-45deg);

  margin: 0;
  padding-left: 5em;
  padding-right: 6em;


  background-image: linear-gradient(var(--search-bar), var(--background-color));
  box-shadow: 0 0 .2em var(--background-color);
  opacity: 100%;

  color: var(--form-color);
  text-align: center;
  font-weight: 200;
}

.home section:nth-of-type(4) ul li:nth-of-type(3)>a p:first-of-type {
  top: 1em;
  left: -4em;
}

.home section:nth-of-type(4) ul li:nth-of-type(4)>a p:first-of-type {
  top: 2em;
  left: -4em;
}

.home section:nth-of-type(4) img {
  max-width: 100%;
  height: auto;
}















/*
###############
          TWITTER
###############
*/

.twitter {
  height: 40em;

  overflow: scroll;
}

.home section:nth-of-type(5)>a:first-of-type {
  color: var(--background-color);
  text-decoration: underline;
}

@media (min-width: 60em) {
  .home section:nth-of-type(5) {
    order: 2;
  }

  .twitter {
    height: 59.7em;
  }
}














/*
###############
          CONTACT FORM
###############
*/

/* Sign up for news, updates & exclusives! */
.home section:nth-of-type(6) p {
  position: absolute;

  top: 28%;
  left: 20%;
  right: 20%;

  color: var(--heading-color);
  text-decoration: double underline;
  text-align: center;
}

@media (max-width: 35em) {
  .home section:nth-of-type(6) p {
    left: 15%;
    right: 15%;
  }
}

@media (max-width: 23em) {
  .home section:nth-of-type(6) p {
    left: 5%;
    right: 5%;
  }
}

.home section:nth-of-type(6) form {
  padding: 4em 2em 2em 2em;

  background-color: var(--form-color);
}

.home section:nth-of-type(6) form label {
  display: block;

  margin: .7em 0 .2em 0;

  font-weight: 300;
  font-family: var(--font-fam);
}

.home section:nth-of-type(6) input {
  width: 100%;

  padding: .7em;

  border: 1px solid rgb(187, 187, 187);
  border-radius: 3px;
}

.home section:nth-of-type(6) button {
  width: 100%;

  padding: 1.1em 0 1.1em 0;
  margin-top: 1em;

  background-color: var(--background-color);

  border: none;
  border-radius: 3px;

  color: var(--footer-text);
  font-family: var(--font-fam);
  font-weight: 300;

  cursor: pointer;
  transition: .5s;
}

.home section:nth-of-type(6) button:hover {
  opacity: 70%;
}

@media (min-width: 43em) {
  .home section:nth-of-type(6) form {
    width: 75%;
    margin-left: 12.5%;
  }
}

@media (min-width: 60em) {
  .home section:nth-of-type(6) {
    order: 5;

    width: 70%;
  }

  .home section:nth-of-type(6) form {
    width: 50%;
    margin-left: 25%;
  }
}















/*
###############
          SHOWS
###############
*/

.home section:nth-of-type(7) {
  position: relative;

  padding: 2em;
  width: 100%;

  background-color: var(--section-color);
}

@media (max-width: 23em) {
  .home section:nth-of-type(7) {
    padding: 2em .2em 2em .2em;
  }
}

@media (min-width: 60em) {
  .home section:nth-of-type(7) {
    order: 4;

    width: 45%;
    height: 53.2em;
  }
}

.home section:nth-of-type(7) li {
  position: relative;

  width: 100%;
  height: 7em;
  margin-bottom: .1em;
  overflow: hidden;

  background-color: var(--shows-color);
}

.home section:nth-of-type(7) li h2,
.home section:nth-of-type(7) li p,
.home section:nth-of-type(7) li a p,
.home section:nth-of-type(7) li time {
  position: absolute;
}

/* Flag images */
.home section:nth-of-type(7) li img {
  position: absolute;
  width: 78%;
  right: 0;
  height: 7em;

  object-fit: fill;

  opacity: 0;
  transition: .5s;
}

@media (min-width: 43em) {
  .home section:nth-of-type(7) li img {
    width: 90%;
  }
}

.home section:nth-of-type(7) li img:hover {
  opacity: 20%;
}

/* Location of show */
.home section:nth-of-type(7) li h2 {
  top: 2.6em;
  left: 7.3em;

  font-size: .9em;
  font-weight: 200;
}

.home section:nth-of-type(7) li p:first-of-type {
  left: 6.5em;
  top: 1em;
}

.home section:nth-of-type(7) li a p {
  color: var(--background-color);
  font-weight: 100;
  font-size: .8em;
  text-decoration: underline;
}

/* Website */
.home section:nth-of-type(7) li a:first-of-type p {
  left: 8.4em;
  top: 5.4em;
}

/* Tickets */
.home section:nth-of-type(7) li a:nth-of-type(2) p {
  left: 8.4em;
  top: 6.8em;
}

/* Date of show */
.home section:nth-of-type(7) li time {
  width: 5em;
  height: 5.85em;

  padding-top: 1.3em;

  background-color: var(--background-color);

  color: var(--form-color);
  text-align: center;
  font-size: 1.2em;
  word-spacing: 100em;
}

time:focus {
  border: 5px solid white;
}


















/*
###############
          SHOP PAGE
###############
*/

/* new arrivals, gifts, pre-order */

.shop section:first-of-type {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1em;

  margin-top: 1em;
}

.shop section:first-of-type a {
  transition: .5s;
  position: relative;
}


.shop section:first-of-type a h2 {
  position: absolute;
  z-index: 2;

  left: 20%;
  right: 20%;
  top: 40%;

  padding: .8em 3em .8em 3em;

  text-align: center;
  color: var(--footer-text);

  transition: 1s;
}

.shop section:first-of-type a:hover img {
  opacity: 20%;
}

.shop section:first-of-type a:hover h2 {
  border-radius: 2em;
}

.shop section:first-of-type a:first-of-type h2 {
  background-color: var(--look-at-me);
  box-shadow: 0 0 4em var(--look-at-me-dark);

  text-shadow: 0 .5em .5em var(--look-at-me-dark);
}

.shop section:first-of-type a:nth-of-type(2) h2 {
  background-color: var(--numbers-up);
  box-shadow: 0 0 4em var(--numbers-up-dark);

  text-shadow: 0 .5em .5em var(--numbers-up-dark);
}

.shop section:first-of-type a:nth-of-type(3) h2 {
  background-color: var(--what-goes-let-go);
  box-shadow: 0 0 4em var(--what-goes-let-go-dark);

  text-shadow: 0 .5em .5em var(--what-goes-let-go-dark);
}


.shop section:first-of-type img {
  z-index: 1;

  width: 100%;

  transition: .5s;
}


@media (max-width: 30em) {
  .shop section:first-of-type a h2 {
    left: 10%;
    right: 10%;

    font-size: 1.1em;
  }
}


@media (min-width: 55em) {
  .shop>section:first-of-type {
    grid-template-columns: 1fr 1fr 1fr;

    margin: 2em 0 2em 0;
  }

  .shop>section:first-of-type a h2 {
    left: 10%;
    right: 10%;
    top: 40%;

    font-size: .9em;
  }
}

@media (min-width: 100em) {
  .shop>section:first-of-type {
    margin: 2em 10em 2em 10em;
  }
}


/* merch & music */

.shop>section:nth-of-type(2),
.shop>section:nth-of-type(3) {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;

  margin: 5em 0 6em 0;
}

@media (max-width: 20em) {

  .shop>section:nth-of-type(2),
  .shop>section:nth-of-type(3) {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 45em) {

  .shop>section:nth-of-type(2),
  .shop>section:nth-of-type(3) {
    grid-template-columns: 1fr 1fr 1fr;
  }


}

@media (min-width: 55em) {

  .shop>section:nth-of-type(2),
  .shop>section:nth-of-type(3) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 120em) {

  .shop>section:nth-of-type(2),
  .shop>section:nth-of-type(3) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  }
}

.shop section:nth-of-type(3) {
  margin: 5em 0 0 0;
}

.shop section:first-of-type a:focus,
.shop section:nth-of-type(2) a:focus,
.shop section:nth-of-type(3) a:focus {
  border: 2px solid var(--background-color);
  outline: 4px dotted var(--footer-text);
}

.shop section:nth-of-type(2) h1,
.shop section:nth-of-type(3) h1 {
  position: absolute;

  top: -4%;
  width: 100%;

  padding-bottom: .6em;

  border-bottom: 3px solid var(--store-heading);

  font-size: 1.5em;
  color: var(--store-heading);
}

.shop section:nth-of-type(3) h1 {
  top: -2%;
}

@media (max-width: 23em) {
  .shop section:nth-of-type(2) h1 {
    top: -2%;
  }

  .shop section:nth-of-type(3) h1 {
    top: -1%;
  }
}

@media (min-width: 45em) {
  .shop section:nth-of-type(2) h1 {
    top: -6%;
  }
}

@media (min-width: 55em) {
  .shop section:nth-of-type(2) h1 {
    top: -8%;
  }

  .shop section:nth-of-type(3) h1 {
    top: -4%;
  }
}

.shop section:nth-of-type(2) a,
.shop section:nth-of-type(3) a {
  position: relative;

  height: 22em;

  background-color: var(--section-color);

  transition: .5s;
}

.shop section:nth-of-type(2) a:hover,
.shop section:nth-of-type(3) a:hover {
  box-shadow: 0 0 1em var(--footer-text);
}

.shop section:nth-of-type(2) a:hover img,
.shop section:nth-of-type(3) a:hover img {
  opacity: 80%;
}

.shop section:nth-of-type(2) a:hover h2,
.shop section:nth-of-type(3) a:hover h2 {
  color: var(--dark-logo-color);
  font-size: 1.15em;
}


.shop section:nth-of-type(2) a h2,
.shop section:nth-of-type(2) a img,
.shop section:nth-of-type(2) a p,
.shop section:nth-of-type(3) a h2,
.shop section:nth-of-type(3) a img,
.shop section:nth-of-type(3) a p {
  position: absolute;
}


.shop section:nth-of-type(2) a h2,
.shop section:nth-of-type(2) a p,
.shop section:nth-of-type(3) a h2,
.shop section:nth-of-type(3) a p {
  font-family: var(--font-fam);
  color: var(--heading-color);
}

.shop section:nth-of-type(2) a h2,
.shop section:nth-of-type(3) a h2 {
  padding: .6em .4em .6em .4em;

  width: 100%;
  top: 75%;

  font-size: 1.1em;

  transition: .5s;
}

.shop section:nth-of-type(2) a:nth-of-type(1) h2 {
  top: 70%;
}

.shop section:nth-of-type(2) a:nth-of-type(7) h2,
.shop section:nth-of-type(2) a:nth-of-type(8) h2 {
  top: 65%;
}

@media (min-width: 39em) {

  .shop section:nth-of-type(2) a:nth-of-type(7) h2,
  .shop section:nth-of-type(2) a:nth-of-type(8) h2 {
    top: 70%;
  }

  .shop>section:nth-of-type(2) a:first-of-type h2 {
    top: 75%;
  }
}

@media (min-width: 43em) {

  .shop section:nth-of-type(2) a:nth-of-type(7) h2,
  .shop section:nth-of-type(2) a:nth-of-type(8) h2 {
    top: 75%;
  }
}

@media (min-width: 45em) {

  .shop section:nth-of-type(2) a:nth-of-type(7) h2,
  .shop section:nth-of-type(2) a:nth-of-type(8) h2 {
    top: 65%;
  }

}

@media (min-width: 70em) {

  .shop section:nth-of-type(2) a:nth-of-type(7) h2,
  .shop section:nth-of-type(2) a:nth-of-type(8) h2 {
    top: 70%;
  }
}

@media (min-width: 120em) {

  .shop section:nth-of-type(2) a:nth-of-type(7) h2,
  .shop section:nth-of-type(2) a:nth-of-type(8) h2 {
    top: 75%;
  }
}

.shop section:nth-of-type(2) a img,
.shop section:nth-of-type(3) a img {
  top: 5%;
  left: 10%;
  right: 10%;
  width: 80%;

  transition: .5s;
}

.shop section:nth-of-type(2) a p,
.shop section:nth-of-type(3) a p {
  position: absolute;

  bottom: 5%;
  left: 3%;

  font-size: 1em;
}

.shop section:nth-of-type(3) a p:nth-of-type(2) {
  left: 30%;

  opacity: 50%;

  text-decoration: line-through;
  text-decoration-thickness: .15em;
}






/*
###############
          PREFERATIONS
###############
*/

/* Dark Mode */
/* @media (prefers-color-scheme: dark){
  :root {
    --section-color: rgb(61, 61, 61);
    --form-color: #acacac;
    --shows-color: #888888;
    --background-color: #030303;
    --logo-color: #c7bcb3;
    --heading-color: #ffffff;
    --menu-items: #030303;
    --search-bar: #423d39;
    --look-at-me: #97151c;
    --look-at-me-dark: #58060a;
    --numbers-up: #b99a00;
    --numbers-up-dark: #776300;
    --what-goes-let-go: #003494;
    --what-goes-let-go-dark: #041431;
  }

  .home section:first-of-type ul li:first-of-type{
    background-image: radial-gradient(var(--look-at-me), var(--look-at-me-dark));
  }

  .home section:first-of-type ul li:nth-of-type(2){
    background-image: radial-gradient(var(--numbers-up), var(--numbers-up-dark));
  }

  .home section:first-of-type ul li:nth-of-type(3){
    background-image: radial-gradient(var(--what-goes-let-go), var(--what-goes-let-go-dark));
  }


  .home section:first-of-type ul li p:nth-of-type(2),
  .home section:first-of-type ul li h1{
    color: var(--footer-text);
    animation: glowingtext 3s ease-out infinite alternate;
  }

  @keyframes glowingtext{
    0%{
      text-shadow: 0px 0px 5px var(--heading-color);
    }

    100%{
      text-shadow: 0px 0px 15px var(--heading-color);
    }
  }


  .home section:nth-of-type(4) li{
    background-color: var(--heading-color);
  }

  .space {
    position: fixed;
    z-index: -1;
     
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    background: rgba(0, 0, 0, 0) center / 250px 250px;
  }
  
  .stars1 {
    background-image:
      radial-gradient(
        1px 1px at 25px 5px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1px 1px at 50px 25px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1px 1px at 125px 20px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1.5px 1.5px at 50px 75px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        2px 2px at 15px 125px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        2.5px 2.5px at 110px 80px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1px 1px at 100px 20px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        2px 2px at 20px 50px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        2.5px 2.5px at 100px 5px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      ;
  
      animation: var(--stars-animation) 140s -3s;
  }
  
  .stars2 {
    background-image:
      radial-gradient(
        1px 1px at 75px 125px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1px 1px at 100px 75px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1.5px 1.5px at 199px 100px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        2px 2px at 20px 50px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        2.5px 2.5px at 100px 5px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        2.5px 2.5px at 5px 5px, 
        var(--heading-color), 
        var(--transparent-color)
      );
  
      animation: var(--stars-animation) 120s ;
  }
  
  .stars3 {
    background-image:
    radial-gradient(
        1px 1px at 25px 5px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1px 1px at 50px 25px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1px 1px at 125px 20px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1.5px 1.5px at 50px 75px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        2px 2px at 15px 125px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        2.5px 2.5px at 110px 80px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1px 1px at 75px 125px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1px 1px at 100px 75px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        1.5px 1.5px at 199px 100px, 
        var(--heading-color), 
        var(--transparent-color)
      ),
      radial-gradient(
        2.5px 2.5px at 5px 5px, 
        var(--heading-color), 
        var(--transparent-color)
      );
  
      animation: var(--stars-animation) 110s -5s;
  }
  
  @keyframes stars {
    40% {
      opacity: 0.95;
    }
    50% {
      opacity: 0.45;
    }
    60% {
      opacity: 0.75;
    }
    100% {
      transform: rotate(360deg);
    }
  }
} */







/* Higher Contrast mode for accessibility */
@media (prefers-contrast) {
  :root {
    --logo-color: #ffffff;
    --shows-color: white;
  }

  .home section:first-of-type ul li h1 {
    top: 1.7em;
  }

  .goingup {
    margin-top: -1em;
  }

  .home section:first-of-type ul li p:first-of-type,
  .home section:first-of-type ul li p:nth-of-type(2),
  .home section:first-of-type ul li h1 {
    color: var(--footer-text);
    text-decoration: double underline;
  }

  .home section:first-of-type ul li:nth-of-type(2) p:first-of-type,
  .home section:first-of-type ul li:nth-of-type(2) p:nth-of-type(2),
  .home section:first-of-type ul li:nth-of-type(2) h1 {
    color: var(--background-color);
  }
}






/* Prefers less motion for accessibility */
@media (prefers-reduced-motion) {

  *,
  header nav a,
  header nav li,
  .home section:nth-of-type(3) p,
  .home section:nth-of-type(4)>a p:last-of-type,
  .home section:nth-of-type(5) p,
  .animate,
  .home section:first-of-type ul,
  .home section:first-of-type ul li,
  .home section:first-of-type ul li h1,
  .home section:first-of-type ul li p:first-of-type,
  .home section:first-of-type ul li p.hide,
  .home section:first-of-type ul li,
  .home section:first-of-type ul li h1.goingup,
  .home section:nth-of-type(4) li,
  .home section:nth-of-type(4) li img,
  .home section:nth-of-type(4)>ul li:nth-of-type(1) a p:nth-of-type(2),
  .home section:nth-of-type(4)>ul li:nth-of-type(2) a p:nth-of-type(2),
  .home section:nth-of-type(4)>ul li:nth-of-type(3) a p:nth-of-type(3),
  .home section:nth-of-type(4)>ul li:nth-of-type(4) a p:nth-of-type(3),
  .home section:nth-of-type(6) button {
    transition: none;
  }
}











:root.epicmode .laser {
  position: fixed;
  z-index: 1000;

  width: .3em;
  height: 500%;

  left: 50%;
  bottom: 0;

  animation: laser ease-in-out infinite;
}

:root.epicmode .laser.red {
  height: 200%;

  background-color: var(--look-at-me);
  animation-duration: 6.5s;
  box-shadow: 0 0 1em var(--look-at-me-dark);
}

:root.epicmode .laser.yellow {
  height: 200%;

  background-color: var(--numbers-up);
  animation-duration: 7s;
  box-shadow: 0 0 1em var(--numbers-up-dark);
}

:root.epicmode .laser.blue {
  height: 200%;

  background-color: var(--what-goes-let-go);
  animation-duration: 7.3s;
  box-shadow: 0 0 1em var(--what-goes-let-go-dark-dark);
}

@keyframes laser {
  0% {
    transform: rotateZ(-65deg);
  }

  50% {
    transform: rotateZ(65deg);
  }

  100% {
    transform: rotateZ(-65deg);
  }
}

/* disco baby */
:root.epicmode .space {
  position: fixed;
  z-index: -1;

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  background: rgba(0, 0, 0, 0) center / 250px 250px;
}

:root.epicmode .stars1 {
  background-image:
    radial-gradient(1px 1px at 25px 5px,
      var(--look-at-me),
      var(--transparent-color)),
    radial-gradient(1px 1px at 50px 25px,
      var(--look-at-me),
      var(--transparent-color)),
    radial-gradient(1px 1px at 125px 20px,
      var(--look-at-me),
      var(--transparent-color)),
    radial-gradient(1.5px 1.5px at 50px 75px,
      var(--look-at-me),
      var(--transparent-color)),
    radial-gradient(2px 2px at 15px 125px,
      var(--look-at-me),
      var(--transparent-color)),
    radial-gradient(2.5px 2.5px at 110px 80px,
      var(--look-at-me),
      var(--transparent-color)),
    radial-gradient(1px 1px at 100px 20px,
      var(--look-at-me),
      var(--transparent-color)),
    radial-gradient(2px 2px at 20px 50px,
      var(--look-at-me),
      var(--transparent-color)),
    radial-gradient(2.5px 2.5px at 100px 5px,
      var(--look-at-me),
      var(--transparent-color)),
  ;

  animation: var(--stars-animation) 120s;
}

:root.epicmode .stars2 {
  background-image:
    radial-gradient(1px 1px at 75px 125px,
      var(--numbers-up),
      var(--transparent-color)),
    radial-gradient(1px 1px at 100px 75px,
      var(--numbers-up),
      var(--transparent-color)),
    radial-gradient(1.5px 1.5px at 199px 100px,
      var(--numbers-up),
      var(--transparent-color)),
    radial-gradient(2px 2px at 20px 50px,
      var(--numbers-up),
      var(--transparent-color)),
    radial-gradient(2.5px 2.5px at 100px 5px,
      var(--numbers-up),
      var(--transparent-color)),
    radial-gradient(2.5px 2.5px at 5px 5px,
      var(--numbers-up),
      var(--transparent-color));

  animation: var(--stars-animation) 70s -10s;
}

:root.epicmode .stars3 {
  background-image:
    radial-gradient(1px 1px at 25px 5px,
      var(--what-goes-let-go),
      var(--transparent-color)),
    radial-gradient(1px 1px at 50px 25px,
      var(--what-goes-let-go),
      var(--transparent-color)),
    radial-gradient(1px 1px at 125px 20px,
      var(--what-goes-let-go),
      var(--transparent-color)),
    radial-gradient(1.5px 1.5px at 50px 75px,
      var(--what-goes-let-go),
      var(--transparent-color)),
    radial-gradient(2px 2px at 15px 125px,
      var(--what-goes-let-go),
      var(--transparent-color)),
    radial-gradient(2.5px 2.5px at 110px 80px,
      var(--what-goes-let-go),
      var(--transparent-color)),
    radial-gradient(1px 1px at 75px 125px,
      var(--what-goes-let-go),
      var(--transparent-color)),
    radial-gradient(1px 1px at 100px 75px,
      var(--what-goes-let-go),
      var(--transparent-color)),
    radial-gradient(1.5px 1.5px at 199px 100px,
      var(--what-goes-let-go),
      var(--transparent-color)),
    radial-gradient(2.5px 2.5px at 5px 5px,
      var(--what-goes-let-go),
      var(--transparent-color));

  animation: var(--stars-animation) 80s -5s;
}

@keyframes stars {
  40% {
    opacity: 1;
  }

  50% {
    opacity: 0.75;
  }

  60% {
    opacity: 0.9;
  }

  100% {
    transform: rotate(360deg);
  }
}

/* if you made it this far i'm proud of you */